# FUNCTIONS PRACTICE

In [2]:
def show_details():
    name = "James"
    phoneno="09046382839"
    return name,phoneno
mainname,mainphoneno = show_details()
print(mainphoneno,mainname)

09046382839 James

In [6]:
import math
def sqr(b):
    a=math.sqrt(b)
    return a
g=int(input("Enter a number:"))
sqrr= sqr(g)
print ("The square root is ",sqrr)

Enter a number:9
The square root is  3.0

# List

In [11]:
her_list=["shoes","bags","makeup"]
his_list=["games","headset","tie"]
a=[1,2,3,"Age",7.3]
my_list=[2,4,"tissue","hammer","tape","clothes","heels",6,2,"rings","bible"]
print(my_list)
words="dog cat hen goat"
listwords=list(words)
print (listwords)
for item in listwords:
    print(item,end="  ")

[2, 4, 'tissue', 'hammer', 'tape', 'clothes', 'heels', 6, 2, 'rings', 'bible']
['d', 'o', 'g', ' ', 'c', 'a', 't', ' ', 'h', 'e', 'n', ' ', 'g', 'o', 'a', 't']
d  o  g     c  a  t     h  e  n     g  o  a  t

In [8]:
names=["bola","dare","ayo","siji","azu","tope","kate","cece","timi","ray"]
name_u=input("Enter your name: ")
if name_u in names:
    print("Name found")
else:
    print("Name not found")
print(names[-10])
s=len(names)
print(s)

Enter your name: dare
Name found
bola
10

In [47]:
names=["bola","dare","ayo","siji","azu","tope","kate","cece","timi","ray"]
name_u=input("Enter your name: ")
names[0]=name_u
names[9]="Dr Azubuike"
print(names)

Enter your name: SOPHIA
['SOPHIA', 'dare', 'ayo', 'siji', 'azu', 'tope', 'kate', 'cece', 'timi', 'Dr Azubuike']

In [61]:
our_list=his_list+her_list
print(our_list)
our_list.append(7)
print(our_list)

['games', 'headset', 'tie', 'shoes', 'bags', 'makeup']
['games', 'headset', 'tie', 'shoes', 'bags', 'makeup', 7]

In [54]:
print(names[4:6])

['azu', 'tope']

In [60]:
nameu=input("Enter your name: ")
our_list.append(nameu)
print(our_list)

Enter your name: sophia
['games', 'headset', 'tie', 'shoes', 'bags', 'makeup', [7], 'sophia']

In [9]:
our_list=[]
for item in range(5):
    nameo=input("Enter your name: ")
    our_list.append(nameo)
our_list.insert(4,"KEVWE")
print(our_list)

Enter your name: sas
Enter your name: sasd
Enter your name: des
Enter your name: frd
Enter your name: gyy
['sas', 'sasd', 'des', 'frd', 'KEVWE', 'gyy']

In [70]:
name__list=["ola","tracy","nini","bisi","tolu","ayo","dada","dare","gigi","dede"]
namep=input("Enter your name: ")
n=name__list.index(namep)
print("The position of ",namep,"in the list is ",n)

Enter your name: ola
The position of  ola in the list is  0

In [ ]:
names=["bola","dare","ayo","siji","azu","tope","kate","cece","timi","ray"]
name_u=input("Enter your name: ")
n=names.index(name_u)
if name_u in names:
    names.remove(name_u)
else:
    print("Name not found")
name_k=input("Enter another name: ")
names.insert(n,name_k)

Enter your name: siji

# LOOPS

In [ ]:
first_i=1000
second_2=1000
inputVar=int(input("Enter a number: "))
if inputVar > 100:
    first_i=first_i + 500
    second_2=second_2 + 400
else:
    first_i=first_i - 300
    second_2=second_2 - 150